/* You can add global styles to this file, and also import other style files */
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";

.btn{
    border: none;
    border: 1px solid rgb(189, 189, 189);
    background-color: rgb(225, 232, 239);
    padding: 8px 12px;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.btn-search{
    width: 100px;
    background-color: rgb(57, 193, 57);
    border: none;
    font-weight: 700;
    color: white;
}

.btn-delete{
    width: 100px;
    background-color: rgb(168, 39, 39);
    border: none;
    font-weight: 700;
    color: white;
}

.btn:hover{
    opacity: 70%;
}

.custom-link{
    color: rgb(49, 150, 96);
    cursor: pointer;
}


