<div class="main-component-container">
    <div class="catalog-container">

    </div>
    <div class="filters-form-container">
        <div class="filters-title">
            <span >Filtros</span>
        </div>
        <div class="filter-container">
            <span class="form-span">Nombre</span>
            <input type="text" pInputText [(ngModel)]="filtroNombre">
        </div>
        <div class="filter-container">
            <span class="form-span">Apellido Paterno</span>
            <input type="text" pInputText [(ngModel)]="filtroApellidoPaterno">
        </div>
        <div class="filter-container">
            <span class="form-span">Apellido Materno</span>
            <input type="text" pInputText [(ngModel)]="filtroApellidoMaterno">
        </div>
        <div class="filter-container">
            <span class="form-span">RFC</span>
            <input type="text" pInputText [(ngModel)]="filtroRFC">
        </div>
        <div class="filter-container">
            <button class="btn btn-search" (click)="filtrarPersonas()">Filtrar</button>
        </div>
    </div>
</div>
