<div class="main-login-container">
    <div class="main-login-card">
        <div class="login-text">
            Login
            <hr>
        </div>
        <div class="login-form">
            <div>
                <span class="form-span">Correo</span>
                <input type="text" pInputText>
            </div>
            <div>
                <span class="form-span">Contraseña</span>
                <input type="password" pInputText>
            </div>
            <div>
                <button class="btn btn-login">Ingresar</button>
            </div>
            <hr>
        </div>
        
        <div class="register-area">
            <div>
                <span>¿No estás registrado?</span>
                <a class="custom-link">
                    Registrarse
                </a>
            </div>
            
        </div>
    </div>
</div>
